body {
  font-family: "Roboto", sans-serif;
  padding-top: 95px;
  margin: 0px 2px 2px 2px;
  border: black solid 4px;
  border-top: none;
  background-color: rgba(247, 207, 202, 0.774);
}
.navbar {
  padding: 10px 70px 0px;
  margin: 0px 2px 2px 2px;
  border: black solid 4px;
  border-bottom: none;
  border-top: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
header .hero {
  margin-bottom: 40px;
}

header .introduction {
  padding: 115px 100px;
  text-align: justify;
}

.about-button {
  margin-top: 65px;
  text-align: center;
}
header .about-link {
  text-decoration: none;
  padding: 20px 30px;
  background-color: white;
  border: black solid 1px;
  font-size: 20px;
}

header .about,
.contact-me-title {
  margin-top: 40px;
  position: relative;
  left: -320px;
}
header .about-me-title,
.contact-me-title {
  font-size: 60px;
  font-weight: bolder;
}
header .logo-home {
  position: relative;
  bottom: -70px;
}

section h1 {
  font-size: 55px;
  margin-bottom: 60px;
}

section p {
  border: black solid 1px;
  text-align: justify;
  padding: 40px;
  margin-top: 25px;
  font-size: 20px;
  background-color: white;
  box-shadow: 2px 11px 23px rgba(0, 0, 0, 0.1);
}
section .images-projects,
.photo-about-me {
  padding: 4px;
  border: black solid 1px;
}

section .photo-about-me {
  position: relative;
  top: -350px;
}
section h2 {
  font-size: 40px;
}
section .buddhabowl-description h2,
.portfolio-description h2 {
  text-align: end;
}

section .weather-description h2 {
  text-align: start;
}

section .buddhabowl-description,
.portfolio-description {
  position: relative;
  right: 80px;
}
section .weather-description {
  position: relative;
  left: 80px;
}
section .buddhabowl-project,
.weather-project,
.portfolio-project {
  margin-bottom: 35px;
}
section .tech-list-weather,
.project-links-weather {
  padding-left: 0;
}

section .tech-list-buddha,
.tech-list-weather,
.project-links-buddha,
.project-links-weather,
.tech-list-portfolio,
.project-links-portfolio {
  list-style: none;
  display: flex;
}
section .tech-list-buddha,
.project-links-buddha,
.tech-list-portfolio,
.project-links-portfolio {
  justify-content: flex-end;
}
section .tech-list-weather,
.project-links-weather {
  justify-content: flex-start;
}
section .project-links-buddha,
.project-links-portfolio,
.project-links-weather {
  position: relative;
  bottom: 20px;
}

section .contact-options {
  list-style: none;
}
section li {
  font-size: 25px;
  padding: 10px;
}
section .image-contact {
  border: none;
}
.contact-options h3 {
  font-weight: bold;
  font-size: 30px;
}
.contact-options a {
  text-decoration: none;
  font-size: 20px;
}

footer .email-link {
  text-decoration: none;
  padding: 10px 25px;
  background-color: white;
  border: black solid 1px;
  font-size: 20px;
}
.email-button {
  margin-top: 30px;
}
footer {
  margin-top: 90px;
}

footer a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}
footer p {
  padding-top: 100px;
}
.open-sourced a {
  font-size: 1rem;
  padding: 2px;
}

@media (max-width: 1200px) {
  header .about,
  .contact-me-title {
    position: unset;
  }
  section .photo-about-me {
    position: unset;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 0px;
  }

  .logo-home {
    position: relative;
    top: -20px;
  }

  section .buddhabowl-description,
  .portfolio-description {
    position: relative;
    right: 0px;
  }
  section .weather-description {
    position: relative;
    left: 0px;
  }
  footer .footer-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  section .images-projects,
  .photo-about-me {
    display: none;
  }
}

@media (max-width: 576px) {
  body {
    padding-top: 70px;
  }
  .logo {
    width: 50px;
  }

  header .introduction {
    padding: 40px;
  }
  header .about-me-title,
  .contact-me-title {
    font-size: 45px;
    font-weight: normal;
  }
  .image-about {
    width: 300px;
  }

  header .about-button {
    margin-top: 40px;
  }
  header .about-link {
    padding: 15px 20px;
    font-size: 18px;
  }
  section .buddhabowl-project,
  .weather-project,
  .portfolio-project {
    margin-bottom: 0px;
  }
  section h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  section h2 {
    font-size: 30px;
  }
  .contact-options h3 {
    font-size: 25px;
  }
  .image-contact {
    width: 300px;
    margin-bottom: 40px;
  }
  section li {
    font-size: 20px;
    padding: 5px;
  }
  footer {
    margin-top: 20px;
  }
}
