body {
  font-family: "Roboto", sans-serif;
  margin: 130px auto;
}

.introduction {
  padding: 50px 60px;
  margin-left: 30px;
}
.hello {
  font-size: 28px;
  font-weight: bolder;
  line-height: 3;
  text-decoration: underline;
}
.i-love {
  line-height: 2;
  font-weight: bold;
  font-size: 40px;
}
.about-button {
  margin-top: 65px;
}
.about-link {
  text-decoration: none;
  padding: 20px 30px;
  background-color: white;
  border: black solid 1px;
  color: black;
  font-size: 20px;
}
.about-link:hover {
  color: black;
}
@media (max-width: 990px) {
  .introduction {
    padding: 0;
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .hello {
    font-size: 24px;
    line-height: 2;
  }
  .i-love {
    font-weight: bold;
    font-size: 30px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .about-button {
    margin-top: 40px;
  }
}
